# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.so

# ==============================
# Python environments
# ==============================
.venv/
venv/
env/
ENV/

# ==============================
# macOS
# ==============================
.DS_Store

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/

# ==============================
# Python packaging
# ==============================
*.egg-info/
dist/
build/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp

# ==============================
# Model artifacts
# ==============================
models/*.keras
models/*.h5
models/*.pkl
models/*.joblib

# ==============================
# Generated ML arrays
# ==============================
results/*.npy

# ==============================
# Generated prediction files
# ==============================
results/*predictions*.csv

# ==============================
# Large processed datasets
# ==============================
results/FD001_processed.csv
results/train_prepared.csv
results/validation_prepared.csv

# ==============================
# Generated plots
# ==============================
results/*.png

# ==============================
# NASA raw dataset
# ==============================
data/*.txt